{% load static %}
/*--

Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
padding:0;
margin:0;
    background:#28B2B9;
    background-size: cover;
    background-image: url(https://cdn.wallpapersafari.com/6/26/t0EJeG.jpg);
    font-family: 'Cuprum', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}

a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
/*--widget start here--*/
h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    margin-top: 1em;
}
.contact h2 {
    font-size: 2.5em;
    color: #353675;
    text-align: right;
    float: left;
    display: block;
    width: 60%;
}

.contact h3 {
    font-size: 2.5em;
    color: #353675;
    margin-left:270px;
    float: left;
    display: block;
    width: 60%;
}

.contact h4 {
    font-size: 2.5em;
    color: #353675;
    margin-left:200px;
    float: left;
    display: block;
    width: 60%;
}

.contact-head {
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
}
.cls-milk img {
    vertical-align: sub;
}
.contact {
    width: 50%;
    background: #fff;
    min-height: 100px;
    padding: 2em 2em;
    margin: 3em auto 0em;
    border-radius: 5px;
}
.contact input[type="text"] {
    font-size: 1em;
    color: #404040;
    padding: 0.5em 1em;
    margin-bottom:1em;
    width: 43%;
    display: inline-block;
    outline: none;
    border:1px solid #504d4d;
    font-family: 'Cuprum', sans-serif;
}

.contact input[type="password"] {
    font-size: 1em;
    color: #404040;
    padding: 0.5em 1em;
    margin-bottom:1em;
    width: 43%;
    display: inline-block;
    outline: none;
    border:1px solid #504d4d;
    font-family: 'Cuprum', sans-serif;
}

.contact input.no-mar {
    margin: 0% 0% 0% 2.5%;
}
.contact textarea{
	font-size: 1em;
    color: #404040;
    padding: 0.5em 1em;
    margin-bottom:1em;
    width: 94.5%;
    display:block;
    outline: none;
    resize: none;
    height: 7em;
    border:1px solid #504d4d;
    font-family: 'Cuprum', sans-serif;
}
.long
{
 width: 100%
}
.location-btn {
    display: inline-block;
     margin: 0% 0% 0% 2.5%;
         width: 43%;
}
.location-btn a {
    font-size: 1em;
    background:url(static/images/pin.png)no-repeat #28B2B9 270px 9px;
    color: #FFF;
    display: block;
    padding: 0.6em 1em;
    width: 100%;
}
::-webkit-input-placeholder{
   color:#404040 !important;
}
.location-btn a:hover {
	background:url(static/images/pin.png)no-repeat 270px 9px #000;
}

.cls-con img {
    cursor: pointer;
}
.cls-con {
    float: right;
    width: 15%;
    padding-top: 0.45em;
    text-align: right;
}
input[type="submit"] {
    font-size: 1em;
    color: #fff;
    padding: 0.5em 1.5em;
    border: none;
    margin-left : 270px;
    background: #353675;
    outline: none;
    cursor:pointer;
    font-family: 'Cuprum', sans-serif;
}

input[type="submit"]:hover {
    background: #000;

    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

input[type="checkbox"] {
    padding: 10px;
}
label{
padding: 10px;
}
.copy-rights p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    line-height: 1.7em;
}
.copy-rights p a{
  color:#000;
}
.copy-rights p a:hover{
  color: #fff;
}
.copy-rights {
    padding:4em 0em 3em 0em;
}
.clear{
	clear:both;
}

@media(max-width:1440px){
.contact {
    width: 56%;
}
}
@media(max-width:1366px){
.contact {
    width: 59%;
}
/*-- w3layouts --*/
}
@media(max-width:1280px){
.contact {
    width: 63%;
}
}
@media(max-width:1024px){
.contact {
    width: 80%;
}
}
@media(max-width:991px){
.contact {
    width: 83%;
}
}
@media(max-width:768px){
.wrap {
    width: 90%;
}
.contact {
    width: 88%;
}
.location-btn a {
    background: url(static/images/pin.png)no-repeat #28B2B9 260px 8px;
}
.location-btn a:hover{
    background: url(static/images/pin.png)no-repeat #000 260px 8px;
}
.contact input.no-mar {
    margin: 0% 0% 0% 1.7%;
}
}
@media(max-width:736px){
.contact {
    width: 90%;
}
.contact input.no-mar {
    margin: 0% 0% 0% 3.5%;
}
.contact input[type="text"] {
    width: 42%;
}
}
@media(max-width:667px){
.contact input[type="text"] {
    width: 42%;
}
.contact textarea {
    width: 92.5%;
}
/*-- agileits --*/
.contact input.no-mar {
    margin: 0% 0% 0% 2%;
}
.location-btn a {
    background: url(../images/pin.png)no-repeat #28b2b9 223px 8px;
}
.location-btn a:hover {
    background: url(../images/pin.png)no-repeat #000 223px 8px;
}
.contact textarea {
    width: 93%;
}
.location-btn a {
    width: 97%;
}
}
@media(max-width:640px){
.contact input[type="text"] {
    width: 41%;
}
.contact input.no-mar {
    margin: 0% 0% 0% 3%;
}
.contact textarea {
    width: 92.5%;
}
.location-btn a {
    width: 98%;
}
h1 {
    font-size: 2.5em;
}
}
@media(max-width:600px){
.contact input.no-mar {
    margin: 0% 0% 0% 2%;
}
.location-btn a {
    width: 96%;
}
.location-btn a {
    background: url(../images/pin.png)no-repeat #28b2b9 195px 8px;
}
.location-btn a:hover {
    background: url(../images/pin.png)no-repeat #000 195px 8px;
}
}
/*-- w3layouts --*/
@media(max-width:568px){
.contact {
    width: 87%;
}
.contact input[type="text"] {
    width: 40%;
}
.contact input.no-mar {
    margin: 0% 0% 0% 2.5%;
}
.contact textarea {
    width: 91.3%;
}
.location-btn a {
    width: 94%;
}.location-btn a {
    background: url(../images/pin.png)no-repeat #28b2b9 177px 8px;
}
.location-btn a:hover {
    background: url(../images/pin.png)no-repeat #000 177px 8px;
}
}
@media(max-width:480px){
.contact input[type="text"] {
    width: 90%;
}
.contact input.no-mar {
    margin: 0% 0% 4% 0%;
}
.contact textarea {
    width: 90%;
}
.location-btn {
    margin: 0% 0% 4% 0%;
    width: 92%;
}
.location-btn a {
    background: url(../images/pin.png)no-repeat #28B2B9 330px 8px;
}
.location-btn a:hover {
    background: url(../images/pin.png)no-repeat #000 330px 8px;
}
h1 {
    font-size: 2em;
}
.contact h2 {
    width: 65%;
}
/*-- agileits --*/
.contact {
    margin: 2em auto 0em;
}
}
@media(max-width:414px){
.location-btn a {
    background: url(../images/pin.png)no-repeat #28B2B9 260px 8px;
}
.location-btn a:hover {
    background: url(../images/pin.png)no-repeat #000 260px 8px;
}
.contact {
    width: 80%;
}
.contact textarea {
    height: 4em;
}
.contact input[type="text"] {
    width: 87%;
}
.contact textarea {
    width: 87%;
}
.location-btn a {
    background: url(../images/pin.png)no-repeat #28b2b9 250px 8px;
}
.location-btn a:hover {
    background: url(../images/pin.png)no-repeat #000 250px 8px;
}
.location-btn a {
    width: 95%;
}
.copy-rights {
    padding: 4em 1em 3em 1em;
}
}
@media(max-width:384px){
.location-btn a {
    background: url(../images/pin.png)no-repeat #28B2B9 230px 8px;
}
.location-btn a:hover {
    background:url(../images/pin.png)no-repeat #000 230px 8px;
}
}
@media(max-width:320px){
.contact {
    width: 76%;
     margin: 1.3em auto 0em;
}
h1 {
    margin-top: 0.5em;
}
.wrap {
    width: 95%;
}
.contact {
    width: 86%;
    margin: 1.3em auto 0em;
    padding: 1em 1em;
}
.contact input[type="text"] {
    width: 86%;
}
.contact textarea {
    width: 86%;
}
.location-btn a {
    width: 95%;
}
.contact h2 {
    font-size: 1.8em;
}
.cls-con img {
    width: 60%;
}
.contact-head {
    margin-bottom: 1em;
}
.location-btn a {
    background: url(../images/pin.png)no-repeat #28B2B9 220px 8px;
}
.location-btn a:hover {
    background: url(../images/pin.png)no-repeat #000 220px 8px;
}
.copy-rights {
    padding: 2em 0em 1em 0em;
}

.checkbox-block{

}

}

/*css for logout button*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width: 100%;
  background-color: black;
}

img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;

}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 25px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 100px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

